/* Common */
body {
    font-size: 12px;
}

.bg-blue {
    background-color: #00c1eb;
}
.text-blue {
    color: #00c1eb;
}
.bg-grey {
    background-color: #a19a9a;
}
.text-grey {
    color: #a19a9a;
}
.bg-lightgrey {
    background-color: #f5f5f5;
}
.text-lightgrey {
    color: #f5f5f5;
}
.divider-white {
    border-top: 2px solid #fff;
    opacity: 0.6;
}

/* Navbar  */
.find {
    min-width: 100%;
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8) !important;
    border-width: 2px;
    padding: 0.45rem 1rem;
}
.navbar-toggler .fa-bars {
    color: rgba(255, 255, 255, 0.8);
}

/* Content */
.content {
    min-height: 40rem;
}

/* Responsive */
@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
    /* Navbar */
    .find {
        min-width: 38rem;
    }
}
@media (min-width: 1200px) {
    /* Navbar */
    .find {
        min-width: 44rem;
    }
}
@media (min-width: 1400px) {
    /* Navbar */
    .find {
        min-width: 52rem;
    }
}
